$site-primary-font: 'Mukta', sans-serif;
$site-primary-font-size: 0.98rem !important;
$site-footer-font-size: $site-primary-font-size;
$site-primary-font-weight: 400 !important;
$site-primary-logo-ico-color:#df3311;
$site-primary-logo-color:#333f61;

$site-primary-bg-color:#ffffff;
$site-secondary-bg-color:#f8f6f4;
$site-tertiary-bg-color:#df3311;
$site-fourth-bg-color:#333f61;
$site-fifth-bg-color:#442892;

$site-primary-color:#333f61;
$site-secondary-color:#333f61;
$site-tertiary-color:#ffffff;
$site-fourth-color:#ffffff;
$site-fifth-color:#ffffff;

$site-hero-blue-bg-color:#eaf9ff;
$site-hero-blue-bg-darker-color:#333f61;
$site-hero-green-bg-color:#eaffe5;
$site-hero-green-bg-darker-color:#108459;
$site-hero-navy-bg-color:#f4feff;
$site-hero-navy-bg-darker-color:#442892;
$site-hero-red-bg-color:#f8f6f4;
$site-hero-red-bg-darker-color:#df3311;
$site-hero-darkBlue-bg-color:#f8f6f4;
$site-hero-darkBlue-bg-darker-color:#205493;

$site-primary-link-color:#df3311;
$site-primary-link-hover-color:#333f61;
$site-secondary-link-color:#333f61;
$site-secondary-link-hover-color:#df3311;
$site-tertiary-link-color:#333f61;
$site-tertiary-link-hover-color:#108459;
$site-tertiary-link-active-color:#5c7070;
$site-tertiary-link-border-color:#108459;
$site-tertiary-link-ico-color:#108459;
$site-tertiary-link-ico-link-color:#333f61;
$site-tertiary-link-ico-link-white-color:#fff;
$site-tertiary-link-ico-hover-color:#108459;
$site-tertiary-link-ico-border-color:#0d1018;
$site-tertiary-link-para-color:#51566c;
$site-fourth-link-color:#108459;
$site-fourth-link-hover-color:#df3311;
$site-fifth-link-color:#df3311;
$site-fifth-link-hover-color:#108459;
$site-sixth-bg-color:#108459;
$site-sixth-link-color:#fff;
$site-sixth-link-hover-color:#108459;
$site-sixth-link-ico-link-color:#442892;
$site-sixth-link-ico-link-white-color:#fff;
$site-sixth-link-ico-hover-color:#108459;
$site-sixth-link-ico-border-color:#442892;

/*2fc991 */
$nav-border-color:#333f61;
$site-hr-bg-color:#df3311;
$site-focus-color: #333f61;
$site-skip-link-color: #333f61;
$site-focus-bg-color: #f8f6f4;
$site-focus-border-color: #f0e3df;
$site-border-color: #dee2e6;
$site-white-color: #fff;
$site-advert-h2-color:#333f61;
$site-advert-para-color:#51566c;
$site-h2-color:#df3311;
$site-h4-color:#df3311;
$site-green-color:#108459;
$site-red-color:#e71720;

$site-contact-h1-color:#fff;
$site-contact-h2-color:#333f61;
$site-contact-h3-color:#333f61;
$site-contact-h4-color:#108459;
$site-contact-border-color:#dee2e6;
$site-contact-ico-link-color:#442892;
$site-contact-ico-active-color:#108459;
$site-contact-color:#fff;
$site-contact-form-input-focus-box-shadow-color:rgba(255, 255, 255, 0.25);
$site-contact-form-link-color:#2fc991;
$site-contact-form-hover-color:#fff;
$site-contact-form-button-bg-color: #108459;
$site-contact-form-button-color: #ffffff;
$site-contact-form-button-hover-bg-color: #58d5f0;
$site-contact-form-button-hover-color: #fff;
$site-contact-form-button-focus-box-shadow-color:rgba(88, 213, 240, 0.5);

$site-primary-button-font-size: 0.98rem;
$site-primary-button-bg-color:#df3311;
$site-primary-button-border-color:#df3311;
$site-primary-button-color:#fff;
$site-primary-button-hover-bg-color:#108459;
$site-primary-button-hover-border-color:#108459;
$site-primary-button-hover-color:#fff;
$site-primary-button-focus-bg-color:#108459;
$site-primary-button-focus-border-color:#108459;
$site-primary-button-focus-box-shadow-color:rgba(16, 132, 90, 0.5);
$site-primary-button-focus-color:#fff;
$site-secondary-button-bg-color:#df3311;
$site-secondary-button-border-color:#df3311;
$site-secondary-button-color:#fff;
$site-secondary-button-hover-bg-color:#108459;
$site-secondary-button-hover-border-color:#108459;
$site-secondary-button-hover-color:#fff;
$site-secondary-button-focus-bg-color:#108459;
$site-secondary-button-focus-border-color:#108459;
$site-secondary-button-focus-box-shadow-color:rgba(16, 132, 90, 0.5);
$site-secondary-button-focus-color:#fff;

$site-tertiary-button-bg-color:#ffffff;
$site-tertiary-button-border-color:#ffffff;
$site-tertiary-button-color:#fff;
$site-tertiary-button-hover-bg-color:#fff;
$site-tertiary-button-hover-border-color:#fff;
$site-tertiary-button-hover-color:#442892;
$site-tertiary-button-focus-bg-color:#fff;
$site-tertiary-button-focus-border-color:#fff;
$site-tertiary-button-focus-box-shadow-color:rgba(255, 255, 255, 0.5);
$site-tertiary-button-focus-color:#442892;

//footer colors
$site-footer-primary-col-bg-color: #f8f6f4;
$site-footer-primary-col-color: #333f61;
$site-footer-secondary-col-bg-color: #442892;
$site-footer-secondary-col-color: #fff;
$site-footer-primary-col-button-bg-color: #f49a1c;
$site-footer-primary-col-button-hover-bg-color: #df3311;
$site-footer-primary-col-button-focus-box-shadow-color:rgba(223, 51, 17, 0.5);
$site-footer-primary-col-button-color: #543101;
$site-footer-primary-col-button-hover-color: #ffffff;
$site-footer-secondary-col-button-bg-color: #108459;
$site-footer-secondary-col-button-hover-bg-color: #58d5f0;
$site-footer-secondary-col-button-focus-box-shadow-color:rgba(88, 213, 240, 0.5);
$site-footer-secondary-col-button-color: #ffffff;
$site-footer-bg-color: #f8f6f4;
$site-footer-color: #333f61;
$site-footer-border-color: #98A5BB;
$site-footer-link-color: #333f61;
$site-footer-link-hover-color: #69708C;
$site-footer-social-link-color: #df3311;
$site-footer-social-link-hover-color: #69708C;
$site-footer-primary-h2-color:#333f61;
$site-footer-secondary-h2-color:#69708C;
$site-footer-button-bg-color: #df3311;
$site-footer-button-hover-bg-color: #108459;
$site-footer-button-focus-box-shadow-color:rgba(16, 132, 90, 0.5);
$site-footer-button-color: #ffffff;
$site-footer-button-font-size: 0.98rem;