@import "colors";
@import "list";
@import "node_modules/bootstrap/scss/_variables";

@mixin reset-margins {
  margin: 0 !important;
  padding: 0 !important;
}

@mixin reset-list {
  @include reset-margins;
  list-style: none;
}

@mixin menu-arrow {
  border-right: 3px solid $nav-border-color;
  border-bottom: 3px solid $nav-border-color;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  content: "";
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: -3px;
  left: 8px;
}

header {
  height: 138px;

  @media (min-width: map-get($grid-breakpoints, sm)) { /* ≥576px */
    height: 76px;
  }

  .nav-container {
    background: $site-primary-bg-color;
    width:100%;
    position: fixed;
    z-index:90;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

    #rack-track {
      padding: 7px 8px 8px 8px;

      svg {
        position: relative;
        z-index: 0;
      }
    } /*end rack-track */

    .navigationBar {
      -webkit-user-select: none;
      user-select: none;
      position: fixed;
      z-index:90;
      right: 0;

      @media (min-width: map-get($grid-breakpoints, lg)+32) { /* ≥1024px */
        position: unset;
        right:unset;
      }

      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        left:25rem;
      }

      a {
        text-decoration: none;
        letter-spacing: 0.07rem;
        font-size : $site-primary-font-size;
        font-weight: 600;

        @media (min-width: map-get($grid-breakpoints, lg)+32) { /* ≥1024px */
          font-size: 0.8rem;
        }

        @media (min-width: map-get($grid-breakpoints, xl)) { /* ≥1200px */
          font-size : $site-primary-font-size;
        }
      }

      @media (max-width: map-get($grid-breakpoints, lg)+31) { /* ≥1023px */
        .container {
          margin-left: unset;
          margin-right: unset;
          padding-left: 0;
          padding-right: 0;
        }  /* end container */

        .menuToggle {
          .burger {
            position: fixed;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            right: 1.5rem;
            display: flex;
            z-index: 120;
            justify-content: space-between;
            flex-direction: column;
            top: 24px;

            > span {
              display: block;
              width: 34px;
              height: 4px;
              margin-bottom: 5px;
              position: relative;
              background: $site-fourth-bg-color;
              border-radius: 3px;
              z-index: 110;
              transform-origin: 4px 0;
              transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

              &:first-child {
                transform-origin: 0% 0%;
              }

              &:nth-last-child(2) {
                transform-origin: 0% 100%;
              }
            } /* end span */
          } /* end burger */
          input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            cursor: pointer;
            opacity: 0;
            z-index: 120;
            -webkit-touch-callout: none;

            &:checked ~ {
              #menu {
                transform: translateX(0rem);
              }

              .burger {
                > span {
                opacity: 1;
                transform: rotate(45deg) translate(-3px, -22px);
                background: $site-fourth-bg-color;

                &:nth-last-child(3) {
                  opacity: 0;
                  transform: rotate(0deg) scale(0.2, 0.2);
                }

                &:nth-last-child(2) {
                  transform: rotate(-45deg) translate(0, 20px);
                }
              } /* end span */
            } /* end burger */

              ul {
                transform: none;
              }
            } /* end checked */
          } /* end input */
          #menu {
            background: $site-primary-bg-color;
            box-shadow: -1px 19px 5px 3px rgba(0,0,0,0.1);
            -webkit-box-shadow: -1px 19px 5px 3px rgba(0,0,0,0.1);
            -moz-box-shadow: -1px 19px 5px 3px rgba(0,0,0,0.1);
            width: 95%;
            height: 100vh;
            position: fixed;
            right: 0;
            transition-timing-function: cubic-bezier(10,2,3,1);
            transform: translateX(50rem);
            top: 0;
            z-index: 100;
            transition: 0.5s;

            @media (min-width: map-get($grid-breakpoints, sm)) { /* sm: 576px */
                width: 70%;
             }

            ul {
              position: relative;
              top:6rem;
              overflow: hidden;
              clear: both;

              li {
                display: block;
                width: 100%;
                padding: 0.5rem 1rem;
                position: relative;

                &.has-sub-menu-feature {
                  display: block;
                  &:hover, &.active, &:focus, &:focus-within {
                    a {
                      color:$site-tertiary-link-hover-color;

                      &:after {
                        border-color:$site-tertiary-link-ico-hover-color;
                      }

                      &:focus {
                        background-color: transparent;
                        box-shadow: none;
                        svg {
                          background-color: transparent;
                          box-shadow: none;
                        }
                      }  /* a:focus */
                    }
                  }

                  > a {
                    &:after {
                      @include menu-arrow;
                    }

                    &:hover, &.active {
                      &:after {
                        border-color:$site-tertiary-link-ico-hover-color;
                      }
                    }

                    &:focus {
                      svg {
                        background-color: transparent;
                        box-shadow: none;
                      }
                    }  /* a:focus */
                  } //end a
                } //end has-sub-menu-feature

                ul {
                  @include reset-list;
                  background:$site-primary-bg-color;
                  position: relative;
                  width:300px;
                  top:5px;
                  z-index: 10;
                  overflow: hidden;
                  max-height: 0;
                  -webkit-transition: all 0.85s ease-out;

                  @media (min-width: map-get($grid-breakpoints, sm)) { /* sm: 576px */
                    width:320px;
                  }

                  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    width:300px;

                    @media (min-width: map-get($grid-breakpoints, sm)) { /* sm: 576px */
                      width:320px;
                    }
                  }

                  li {
                    @include reset-list;
                    margin:-1.625rem 0.625rem -1.625rem 1rem !important;
                    display: block;

                    div {
                      @include reset-list;
                    }

                    &:first-child {
                      margin:0 0.625rem -3rem 1rem !important;
                    }

                    &:last-child {
                      margin:-1.625rem 0.625rem -0.75rem 1rem !important;
                    }

                    a {
                      color: $site-tertiary-link-color !important;
                      text-transform: uppercase;
                      text-decoration: none;

                      &:hover, &.active {
                        color:$site-tertiary-link-hover-color !important;
                      }

                      &:focus {
                        background-color: transparent;
                        box-shadow: none;
                        svg {
                          background-color: transparent;
                          box-shadow: none;
                        }
                      }  /* a:focus */
                    }
                  }  /* end li */
                } /* end ul */

                &.btn {
                  text-align: left;
                }

                a {
                  color: $site-secondary-link-color;
                  text-decoration: none;

                  &:hover, &.active {
                    color: $site-secondary-link-hover-color;
                  }

                  &:focus {
                    background-color: transparent;
                    box-shadow: none;
                    svg {
                      background-color: transparent;
                      box-shadow: none;
                    }
                  }  /* a:focus */
                }

                &:hover, &:focus, &:focus-within {
                  a {
                    color: $site-secondary-link-hover-color;
                  }

                  &.has-sub-menu-feature {
                    &:hover, &.active, &:focus, &:focus-within {
                      a {
                        color:$site-tertiary-link-hover-color;

                        &:after {
                          border-color:$site-tertiary-link-ico-hover-color;
                        }
                      }
                    }
                  }

                  > ul {
                    display: block;
                    max-height: 2000px;
                  }
                } /*end li:hover */

                &.has-sub-menu-feature {
                  &:hover, &.active {
                    a {
                      color:$site-tertiary-link-hover-color;
                    }

                  }
                }

                &.active {
                  font-weight: 500;
                  a {
                    color: $site-secondary-link-hover-color;
                  }
                }

              } /* end li */
            } /* end ul */
          } /* end menu */
        } /* end menuToggle */
      } /* end < lg */

      @media (min-width: map-get($grid-breakpoints, lg)+32) { /* ≥1024px */
        .menuToggle {
          float: right;
          .burger > span, input {
            display: none;
            height:0;
            visibility: hidden;
          }
          #menu {
            ul {
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              z-index: auto;

              li {
                display: inline-block;
                width: auto;
                margin: 0.375rem 0.25rem 0 0.25rem;
                padding: 0;
                position:relative;

                &:last-child {
                  margin-right:0;
                }

                &.has-sub-menu-feature {
                  display: block;
                  > a {
                    &:after {
                      @include menu-arrow;
                    }

                    &:hover, &:focus, &:focus-within {
                      color:$site-tertiary-link-hover-color;

                      &:after {
                        border-color:$site-tertiary-link-ico-hover-color;
                      }
                    }

                    &:focus {
                      background-color: transparent;
                      box-shadow: none;
                      svg {
                        background-color: transparent;
                        box-shadow: none;
                      }
                    }  /* a:focus */
                  } //end a
                } //end has-sub-menu-feature

                a {
                  color: $site-secondary-link-color;
                  padding: 1rem 0.5rem;
                }

                &:hover {
                  a {
                    transition: all 0.3s ease;
                    color: $site-secondary-link-hover-color;

                    &:focus {
                      color: $site-focus-color;
                      background-color: transparent;
                      box-shadow: none;
                      svg {
                        background-color: transparent;
                        box-shadow: none;
                      }
                    }  /* a:focus */
                  }

                  ul, + ul > li:hover {
                    display: block;
                    -webkit-animation: fadeIn 1s;
                    animation: fadeIn 1s;
                  }
                } /* end hover */

                &:not(:hover) ul {
                  display: none;
                  -webkit-animation: fade-out 1s;
                  animation: fade-out 1s;
                }

                &.active {
                  a {
                    color: $site-secondary-link-hover-color;
                  }
                }

                &.has-sub-menu-feature {
                  &:hover, &.active, &:focus, &:focus-within {
                    a {
                      color:$site-tertiary-link-hover-color;

                      &:after {
                        border-color:$site-tertiary-link-ico-hover-color;
                      }
                      &:focus {
                        background-color: transparent;
                        box-shadow: none;
                        svg {
                          background-color: transparent;
                          box-shadow: none;
                        }
                      }  /* a:focus */
                    }
                  }
                }

                ul {
                  background:$site-primary-bg-color;
                  position: absolute;
                  width:320px;
                  min-width:320px;
                  left:-98px;
                  margin-top:2px;
                  display: none;
                  z-index: 10;
                  overflow: hidden;
                  -webkit-transition: all 0.5s ease-out;
                  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

                  li {
                    margin:-2rem 0.625rem -2rem -0.625rem !important;
                    display: block;

                    &:first-child {
                      margin:0 0.625rem -3rem -0.625rem !important;
                    }

                    &:last-child {
                      margin:-2rem 0.625rem 0.75rem -0.625rem !important;
                    }

                    a {
                      color: $site-tertiary-link-color !important;
                      text-transform: uppercase;

                      &:hover, &.active {
                        color:$site-tertiary-link-hover-color !important;
                      }

                      &:focus {
                        background-color: transparent;
                        box-shadow: none;

                        svg {
                          background-color: transparent;
                          box-shadow: none;
                        }
                      }  /* a:focus */
                    }
                  } /* end li */
                } /* end ul */

              } /* end li */
            } /* end ul */
          } /* end menu */
        } /* end menuToggle */
      } /* end > lg */
      @media (min-width: map-get($grid-breakpoints, xl)) { /* ≥1200px */
        .menuToggle {
          #menu {
            ul {
              li {
                a {
                  padding: 0 1.125rem;
                }
              }
            }
          }
        } /* end menuToggle */
      } /* ≥1200px */
    } /* navigationBar */

    .login-signup {
      margin:0.625rem 0;
      border-top:1px solid $site-border-color;
      background:$site-primary-bg-color;

      @media (min-width: map-get($grid-breakpoints, sm)) { /* ≥576px */
        border-top:none;
        margin:0;
        position: absolute;
        right:10%;
      }

      @media (min-width: map-get($grid-breakpoints, md)) { /* ≥768px */
        right:8%;
      }

      @media (min-width: map-get($grid-breakpoints, lg)) { /* ≥992px */
        right:2%;
      }

      @media (min-width: map-get($grid-breakpoints, lg)+32) { /* ≥1024px */
        position: unset;
        right:unset;
      }

      .btn {
        text-transform: uppercase;
        width:100px;
        border-radius:0;
        letter-spacing: 0.07rem;
        font-size: $site-primary-button-font-size;
        font-weight: 600;
        margin-top:0.625rem;

        @media (min-width: map-get($grid-breakpoints, sm)) { /* ≥576px */
          margin-top:1.25rem;
        }

        &.btn-login {
          background-color: transparent;
          border-color: transparent;
          color: $site-secondary-link-color;

          &:hover {
            color: $site-secondary-link-hover-color;
          }

          &:focus, &.focus {
            background-color: $site-primary-button-focus-bg-color;
            border-color: $site-primary-button-focus-border-color;
            box-shadow: 0 0 0 0.2rem $site-primary-button-focus-box-shadow-color;
            color: $site-primary-button-focus-color;
          }
        } /*end btn-login */

        &.btn-signup {
          background-color: $site-primary-button-bg-color;
          border-color: $site-primary-button-border-color;
          color: $site-primary-button-color;

          &:hover {
            background-color: $site-primary-button-hover-bg-color;
            border-color: $site-primary-button-hover-border-color;
            color: $site-primary-button-hover-color;
          }
          &:focus, &.focus {
            background-color: $site-primary-button-focus-bg-color;
            border-color: $site-primary-button-focus-border-color;
            box-shadow: 0 0 0 0.2rem $site-primary-button-focus-box-shadow-color;
            color: $site-primary-button-focus-color;
          }
        } /*end btn-signup */
      } /*end btn */
    } /* end login-signup */
  } /* nav-container */
} /* end header */

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}